---
import SectionContainer from "../components/SectionContainer.astro";
import Separator1 from "../components/Separator1.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Plantilla web" description="Plantilla web">
    <div class="bg-white/90 py-6">
        <SectionContainer class="">
            <Separator1 />
        </SectionContainer>
    </div>
</Layout>
