---
import ShoppingCartIcon from "../icons/ShoppingCart.astro"
import AwardIcon from "../icons/Award.astro"
---
<!--flex gap-10 item-center lg:flex-row flex-col justify-center -->
<div class="grid grid-cols-2  auto-rows-auto bg-white">
        <div class="rounded-md col-span-2 sm:col-span-1 ">
        <img src="/fondo-header.jpg" alt="" class="rounded-md  aspect-square">
    </div>
        <aside class="col-span-2 sm:col-span-1 flex flex-col justify-start  content-center px-6 py-4">
            <h4 class="text-orange-500 font-semibold">More about us</h4>
            <h1 class="font-bold text-4xl py-1">We provide exceptional solutions for clients </h1>
            <h4 class="text-pretty mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum fermentum vel libero sed tristique. Phasellus iaculis eleifend nibh sit amet aliquam. Sed non volutpat turpis</h4>
            <div class=" flex justify-around gap-4 mt-4">
                <ShoppingCartIcon class="size-16 text-orange-500" />
                <div class="flex flex-col text-start w-full justify-center ">
                    <h3 class="font-semibold">Titulo</h3>
                    <h4>Subtitulo</h4>
                </div>
            </div>
            <div class=" flex justify-around gap-4 mt-4">
                <AwardIcon class="size-16 text-orange-500" />
                <div class="flex flex-col text-start w-full justify-center ">
                    <h3 class="font-semibold">Titulo</h3>
                    <h4>Subtitulo</h4>
                </div>
            </div>
            <h1 class="font-bold text-2xl py-1 mt-4">¿Dudas? +54XXXXXXXXX</h1>

        </aside>
</div>