---

---

<div class="grid grid-cols-3 auto-rows-[15rem] gap-6">
    <div class="col-span-1 bg-red-300">

    </div>
    <div class="col-span-1 bg-red-300">

    </div>
    <div class="col-span-1 bg-red-300">

    </div>
    <div class="col-span-1 bg-red-300">

    </div>
    <div class="col-span-1 bg-red-300">

    </div>
    <div class="col-span-1 bg-red-300">

    </div>
</div>