---

---

<div class="flex gap-10 item-center lg:flex-row flex-col">
    <div class=" lg:col-span-1 col-span-2 content-center flex justify-center" >
        <img src="/fondo-header.jpg" alt="" class="h-40 rounded-sm">
        <aside class="flex flex-col justify-start text-center content-center p-6">
            <h1 class="font-bold">Construction condition in region</h1>
            <h4>Subtitulo</h4>
        </aside>
    </div>
    <div class=" lg:col-span-1 col-span-2 content-center flex justify-center" >
        <img src="/fondo-header.jpg" alt="" class="h-40 rounded-sm">
        <aside class="flex flex-col justify-start text-center content-center p-6">
            <h1 class="font-bold">Construction condition in region</h1>
            <h4>Subtitulo</h4>
        </aside>
    </div>
</div>