<div class="grid grid-cols-3 auto-rows-[3rem] gap-6 content-center">
    <div class="w-auto h-full col-span-1 ">
        <img src="/logo.png" alt="" class="max-h-14 mx-auto">
    </div>
    <div class="w-auto h-full col-span-1">
        <img src="/logo.png" alt="" class="max-h-14 mx-auto">
    </div>
    <div class="w-auto h-full col-span-1">
        <img src="/logo.png" alt="" class="max-h-14 mx-auto">
    </div>
</div>